*{
    margin: 0;
    padding:0;
    /* background-color: antiquewhite; */

}
.nav {
    padding:10px;
    height: 10vh;
    background-color: rgb(226, 206, 181);
}
.container{
    width: 80vw;

    margin:0 auto;

    /* padding: 15px; */
}
#exampleFormControlInput1{
    width: 25vw;
}
li a{
    color:gray;
}
form{
    padding: 40px;
    margin: auto;
}
body{
    margin: auto;
    /* background-color: blue; */
    /* padding: 10px; */
}
footer{
    bottom: 0;
    /* margin-top: 25px; */
    text-align: center;
}